<div #basicModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()">Close</button>
        <button type="button" color="primary" class="relative waves-light">Save!</button>
      </div>
    </div>
  </div>
</div>
