<div class="row justify-content-md-center">
  <div class="col-md-8">
    <h3 *ngIf="casClass" class="float-left">{{casClass.className | uppercase }}</h3>
    <button *ngIf="currentUser.role == 'Teacher'" type="button" mdbBtn color="primary" class="relative waves-light float-right" (click)="assignmentModal.show()" mdbWavesEffect>Create Assignment</button>
    <div class="clearfix"></div>
    <p *ngIf="currentUser.role == 'Teacher'" class="text-muted">
      Subject Code: {{casClass.subjectCode}}
    </p>
  </div>
</div>

<div mdbModal #assignmentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="assignmentModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="md-form">
          <input type="text" class="form-control" id="title" mdbInput [formControl]="title">
          <label for="title" class="">Title</label>
        </div>
        <div class="md-form">
          <textarea type="text" class="md-textarea form-control" id="instruction" mdbInput [formControl]="instruction"></textarea>
          <label for="instruction" class="">Instructions (optional)</label>
        </div>
        <app-file-uploader (onUploadFinished)="uploadFinished($event)"></app-file-uploader>
        <label id="fileName" data-file=""></label>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="assignmentModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="onCreate()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-md-center">
  <div class="col-md-8 p-1 hoverable as-item" (click)="onSelect(ass)" *ngFor="let ass of asList">
    <div>
      <p class="pt-2 pl-2 as-title">
        {{ass.title}}
      </p>
      <p class="pl-2">Added on: {{ass.addedOn}}</p>
    </div>
  </div>
</div>
