<div class="row">
  <div class="col-md-3" *ngFor="let class of classes" style="padding-bottom: 10px;">
    <div class="card">
      <div class="card-title rgba-indigo-strong">
        <h3 class="text-white p-2">
          {{class.className}}
        </h3>
        <h5 class="text-white px-2">
          {{class.teacher}}
        </h5>
      </div>
      <div class="card">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="onSelect(class)" [attr.data-id]="class.id" color="primary">View Class</button>
          <button (click)="onDelete(class)" *ngIf="currentUser.role == 'Teacher' || currentUser.role == 'Admin'" type="button" class="btn btn-danger ml-1" size="sm"><span far icon="trash-alt"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
