/****** Object:  Table [dbo].[Assignments]    Script Date: 8/15/2019 3:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Instructions] [nvarchar](max) NULL,
	[Attachment] [nvarchar](max) NULL,
	[DueDate] [nvarchar](250) NOT NULL,
	[CASClassId] [int] NULL,
	[ClassID] [int] NOT NULL,
	[AddedOn] [nvarchar](50) NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

SET IDENTITY_INSERT [dbo].[Assignments] OFF
ALTER TABLE [dbo].[Assignments] ADD  CONSTRAINT [DF__Assignmen__Class__534D60F1]  DEFAULT ((0)) FOR [ClassID]
GO
ALTER TABLE [dbo].[Assignments] ADD  CONSTRAINT [DF_Assignments_AddedOn]  DEFAULT (getdate()) FOR [AddedOn]
GO
